---
title: "08wk: 중간고사 (ver 0.1)"
author: "최규빈"
date: "11/02/2023"
bibliography: ref.bib
draft: true
---

{{<video https://youtu.be/h5WnvWsqgtI?si=6-GRGyscR2_7BErA >}}

---

1. True/False를 판단하는 문제는 답만 써도 무방함. 
2. "자료분석" 문제는 "kaggle style score = 50%", "분석의 논리 = 50%" 의 배점으로 채점한다. 
3. "자료분석" 유형의 경우 분석의 논리가 매우 우수하거나, 창의적인 접근법으로 분석을 시도할 경우 가산점을 부여한다. (아이디어 단계에서도 가산점 부여가능) 가산점은 문항점수의 최대 100%까지 부여한다. 
4. "연구" 문항의 경우 세부문항을 정확하게 수행한 경우에만 100%의 점수를 부여하며 이를 어길시 부분점수를 부여하지 않는다. 연구결과의 시각화나 해석이 우수한 답안은 문항점수의 20%까지 가산점을 부여한다. 
---

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn.preprocessing 
import sklearn.model_selection

# `1`. O/X

- <https://www.kaggle.com/t/7911b05108f642e094ce13a77a5a4723>

`(1)` [모듈9 5-B](https://guebin.github.io/MP2023/posts/03wk-009.html#b.-predictor-%EC%83%9D%EC%84%B1)에서 `sklearn.linear_model.LinearRegression()` 대신 `sklearn.linear_model.LogisticRegression()` 를 이용하여 predictor를 생성해도 무방하다.

> 링크를 `shift + 클릭`하면 새 창으로 열려서 문제 풀기 수월합니다.

# `2`. 자료분석

`(1)` 아래의 자료를 해석하고 세부지침에 맞추어 분석하라.

In [121]:
df_train = pd.read_csv('https://raw.githubusercontent.com/guebin/MP2023/master/posts/mid/icesales_train.csv')
df_test = pd.read_csv('https://raw.githubusercontent.com/guebin/MP2023/master/posts/mid/icesales_test.csv')

In [122]:
df_train.head()

   temp     type      sales
0  -4.1    choco  10.900261
1  -3.7    choco  14.002524
2  -3.7  vanilla  26.008644
3  -3.0    choco  15.928335
4  -1.3  vanilla  29.597396

In [123]:
df_test.head()

   temp     type
0  -4.1  vanilla
1  -3.0  vanilla
2  -0.5  vanilla
3   0.4    choco
4   0.7  vanilla

**세부지침** 

1. 반응변수 ${\bf y}$를 `sales`로 설정하고 나머지는 설명변수로 설정하라. 
2. `sklearn.linear_model` 에 포함된 모형들을 이용하여 분석하라. 
3. `df_test`에 sales에 대한 예측값을 포함하는 열을 추가하라.

`(2)` 아래의 자료를 해석하고 세부지침에 맞추어 분석하라.

In [125]:
df_train = pd.read_csv('https://raw.githubusercontent.com/guebin/MP2023/master/posts/mid/synthetic_train.csv')
df_test = pd.read_csv('https://raw.githubusercontent.com/guebin/MP2023/master/posts/mid/synthetic_test.csv')

In [128]:
df_train.head()

         X1        X2        X3         y
0  0.634499  4.562448 -0.593678  2.915723
1 -4.801602  2.924129 -0.057827 -3.339538
2  4.295305  5.086878 -0.353763  6.838744
3 -0.210203  5.994217 -0.833309  2.786905
4  0.063574  5.508144 -0.112174  2.817646

In [129]:
df_test.head()

         X1        X2        X3
0 -5.188183  5.355068  0.373713
1 -3.994075  6.607599  0.070830
2 -6.130300  5.909246 -0.505089
3  2.260182  7.382222  0.442493
4  2.022601  4.495572  0.016306

**세부지침** 

1. 반응변수 ${\bf y}$를 `y`로 설정하고 나머지 `X1`,`X2`,`X3`는 설명변수로 설정하라. 
2. `sklearn.preprocessing`내의 적절한 scaler릉 이용하여 설명변수를 scaling하라. 
3. `df_test`에 y에 대한 예측값을 포함하는 열을 추가하라.

# `3`. 연구

`(1)` 아래의 자료를 세부지침에 맞추어 연구하라.

In [130]:
np.random.seed(43052)
df = pd.read_csv("https://raw.githubusercontent.com/guebin/MP2023/main/posts/employment_multicollinearity.csv")
df['employment_score'] = df.gpa * 1.0 + df.toeic* 1/100 + np.random.randn(500)

In [131]:
df.head()

,employment_score,gpa,toeic,toeic0,toeic1,toeic2,toeic3,toeic4,toeic5,toeic6,...,toeic490,toeic491,toeic492,toeic493,toeic494,toeic495,toeic496,toeic497,toeic498,toeic499
0,1.784955,0.051535,135,129.566309,133.078481,121.678398,113.457366,133.564200,136.026566,141.793547,...,132.014696,140.013265,135.575816,143.863346,152.162740,132.850033,115.956496,131.842126,125.090801,143.568527
1,10.789671,0.355496,935,940.563187,935.723570,939.190519,938.995672,945.376482,927.469901,952.424087,...,942.251184,923.241548,939.924802,921.912261,953.250300,931.743615,940.205853,930.575825,941.530348,934.221055
2,8.221213,2.228435,485,493.671390,493.909118,475.500970,480.363752,478.868942,493.321602,490.059102,...,484.438233,488.101275,485.626742,475.330715,485.147363,468.553780,486.870976,481.640957,499.340808,488.197332
3,2.137594,1.179701,65,62.272565,55.957257,68.521468,76.866765,51.436321,57.166824,67.834920,...,67.653225,65.710588,64.146780,76.662194,66.837839,82.379018,69.174745,64.475993,52.647087,59.493275
4,8.650144,3.962356,445,449.280637,438.895582,433.598274,444.081141,437.005100,434.761142,443.135269,...,455.940348,435.952854,441.521145,443.038886,433.118847,466.103355,430.056944,423.632873,446.973484,442.793633

**세부지침** 

1. 종속변수 ${\bf y}$를 `employment_score`로 설정하고 나머지는 설명변수로 설정하라. 
2. `sklearn.linear_model.Lasso`를 이용하여 $\alpha =0,1,0.2, \dots, 1.9, 2.0$에 대해 predictor를 생성하라. 
3. $\alpha$의 변화에 따른 score의 변화와^[`predictor.score` 함수이용하여 계산되는 값] 0이 아닌 계수값의 수를 시각화하라.